In [1]:
from pyspark.sql import SparkSession
import getpass
username = getpass.getuser()
spark = SparkSession. \
builder. \
config('spark.ui.port','0'). \
config("spark.sql.warehouse.dir", f"/user/{username}/warehouse"). \
enableHiveSupport(). \
master('yarn'). \
getOrCreate()

In [2]:
orders_df = spark.read \
.format("csv") \
.option("inferSchema", "true") \
.option("header", "true") \
.load("/public/trendytech/datasets/windowdatamodified.csv")

In [3]:
orders_df.show()

+--------------+-------+-----------+-------------+------------+
|       country|weeknum|numinvoices|totalquantity|invoicevalue|
+--------------+-------+-----------+-------------+------------+
|         Spain|     49|          1|           67|      174.72|
|       Germany|     48|         11|         1795|      1600.0|
|     Lithuania|     48|          3|          622|     1598.06|
|       Germany|     49|         12|         1852|      1800.0|
|       Bahrain|     51|          1|           54|      205.74|
|       Iceland|     49|          1|          319|      711.79|
|         India|     51|          5|           95|       300.0|
|     Australia|     50|          2|          133|      387.95|
|         Italy|     49|          1|           -2|       -17.0|
|         India|     49|          5|         1280|      3284.1|
|         Spain|     50|          2|          400|     1049.01|
|United Kingdom|     51|        200|        28782|    75103.46|
|        Norway|     49|          1|         1730|     1867.98|
|United Kingdom|     48|        478|        68865|   166116.72|
|        France|     51|          5|          847|       500.0|
|      Portugal|     49|          4|          726|     1844.67|
|         Spain|     48|          1|          400|       620.0|
|         India|     48|          7|         2822|       300.0|
|       Germany|     50|         15|         1973|      1800.0|
|         Italy|     51|          1|          131|       383.7|
+--------------+-------+-----------+-------------+------------+
only showing top 20 rows

In [8]:
orders_df.orderBy("country", "invoicevalue").show(50)

+---------------+-------+-----------+-------------+------------+
|        country|weeknum|numinvoices|totalquantity|invoicevalue|
+---------------+-------+-----------+-------------+------------+
|      Australia|     49|          1|          214|       258.9|
|      Australia|     48|          1|          107|      358.25|
|      Australia|     50|          2|          133|      387.95|
|        Austria|     50|          2|            3|      257.04|
|        Bahrain|     51|          1|           54|      205.74|
|        Belgium|     50|          2|          285|      625.16|
|        Belgium|     51|          2|          942|       800.0|
|        Belgium|     48|          1|          528|       800.0|
|Channel Islands|     49|          1|           80|      363.53|
|         Cyprus|     50|          1|          917|     1590.82|
|        Denmark|     49|          1|          454|      1281.5|
|        Finland|     50|          1|         1254|       892.8|
|         France|     48|          4|         1299|       500.0|
|         France|     51|          5|          847|       500.0|
|         France|     49|          9|         2303|       500.0|
|         France|     50|          6|          529|      537.32|
|        Germany|     51|          5|         1103|      1600.0|
|        Germany|     48|         11|         1795|      1600.0|
|        Germany|     49|         12|         1852|      1800.0|
|        Germany|     50|         15|         1973|      1800.0|
|        Iceland|     49|          1|          319|      711.79|
|          India|     51|          5|           95|       300.0|
|          India|     48|          7|         2822|       300.0|
|          India|     50|          5|         1184|     2321.78|
|          India|     49|          5|         1280|      3284.1|
|         Israel|     50|          1|          -56|     -227.44|
|          Italy|     49|          1|           -2|       -17.0|
|          Italy|     51|          1|          131|       383.7|
|          Italy|     48|          1|          164|       427.8|
|          Japan|     48|          1|          196|      320.08|
|          Japan|     49|          2|         3897|     7384.99|
|      Lithuania|     49|          1|           30|        63.0|
|      Lithuania|     48|          3|          622|     1598.06|
|    Netherlands|     48|          1|           97|       192.6|
|    Netherlands|     51|          2|         6714|     8591.88|
|         Norway|     49|          1|         1730|     1867.98|
|         Norway|     48|          1|         1852|     1919.14|
|         Poland|     48|          1|          140|      248.16|
|       Portugal|     48|          1|           65|       131.8|
|       Portugal|     50|          3|          154|      403.65|
|       Portugal|     49|          4|          726|     1844.67|
|          Spain|     49|          1|           67|      174.72|
|          Spain|     48|          1|          400|       620.0|
|          Spain|     50|          2|          400|     1049.01|
|         Sweden|     50|          3|         3714|      2646.3|
|    Switzerland|     48|          1|          110|       303.4|
|    Switzerland|     51|          1|          604|     1001.52|
| United Kingdom|     51|        200|        28782|    75103.46|
| United Kingdom|     48|        478|        68865|   166116.72|
| United Kingdom|     50|        530|        94956|   191501.99|
+---------------+-------+-----------+-------------+------------+
only showing top 50 rows

In [6]:
from pyspark.sql import *

In [10]:
my_window = Window.partitionBy("country") \
.orderBy("weeknum") \
.rowsBetween(Window.unboundedPreceding, Window.currentRow)

In [7]:
from pyspark.sql.functions import *

In [13]:
results_df = orders_df.withColumn("running_total", sum("invoicevalue").over(my_window))

In [14]:
results_df.show()

+-------+-------+-----------+-------------+------------+------------------+
|country|weeknum|numinvoices|totalquantity|invoicevalue|     running_total|
+-------+-------+-----------+-------------+------------+------------------+
| Sweden|     50|          3|         3714|      2646.3|            2646.3|
|Germany|     48|         11|         1795|      1600.0|            1600.0|
|Germany|     49|         12|         1852|      1800.0|            3400.0|
|Germany|     50|         15|         1973|      1800.0|            5200.0|
|Germany|     51|          5|         1103|      1600.0|            6800.0|
| France|     48|          4|         1299|       500.0|             500.0|
| France|     49|          9|         2303|       500.0|            1000.0|
| France|     50|          6|          529|      537.32|1537.3200000000002|
| France|     51|          5|          847|       500.0|2037.3200000000002|
|Belgium|     48|          1|          528|       800.0|             800.0|
|Belgium|     50|          2|          285|      625.16|1425.1599999999999|
|Belgium|     51|          2|          942|       800.0|           2225.16|
|Finland|     50|          1|         1254|       892.8|             892.8|
|  India|     48|          7|         2822|       300.0|             300.0|
|  India|     49|          5|         1280|      3284.1|            3584.1|
|  India|     50|          5|         1184|     2321.78|           5905.88|
|  India|     51|          5|           95|       300.0|           6205.88|
|  Italy|     48|          1|          164|       427.8|             427.8|
|  Italy|     49|          1|           -2|       -17.0|             410.8|
|  Italy|     51|          1|          131|       383.7|             794.5|
+-------+-------+-----------+-------------+------------+------------------+
only showing top 20 rows

In [15]:
my_window = Window.partitionBy("country") \
.orderBy(desc("invoicevalue"))

In [16]:
orders_df.withColumn("rank", rank().over(my_window)).show()

+-------+-------+-----------+-------------+------------+----+
|country|weeknum|numinvoices|totalquantity|invoicevalue|rank|
+-------+-------+-----------+-------------+------------+----+
| Sweden|     50|          3|         3714|      2646.3|   1|
|Germany|     49|         12|         1852|      1800.0|   1|
|Germany|     50|         15|         1973|      1800.0|   1|
|Germany|     48|         11|         1795|      1600.0|   3|
|Germany|     51|          5|         1103|      1600.0|   3|
| France|     50|          6|          529|      537.32|   1|
| France|     51|          5|          847|       500.0|   2|
| France|     49|          9|         2303|       500.0|   2|
| France|     48|          4|         1299|       500.0|   2|
|Belgium|     48|          1|          528|       800.0|   1|
|Belgium|     51|          2|          942|       800.0|   1|
|Belgium|     50|          2|          285|      625.16|   3|
|Finland|     50|          1|         1254|       892.8|   1|
|  India|     49|          5|         1280|      3284.1|   1|
|  India|     50|          5|         1184|     2321.78|   2|
|  India|     51|          5|           95|       300.0|   3|
|  India|     48|          7|         2822|       300.0|   3|
|  Italy|     48|          1|          164|       427.8|   1|
|  Italy|     51|          1|          131|       383.7|   2|
|  Italy|     49|          1|           -2|       -17.0|   3|
+-------+-------+-----------+-------------+------------+----+
only showing top 20 rows

In [17]:
orders_df.withColumn("rank", dense_rank().over(my_window)).show()

+-------+-------+-----------+-------------+------------+----+
|country|weeknum|numinvoices|totalquantity|invoicevalue|rank|
+-------+-------+-----------+-------------+------------+----+
| Sweden|     50|          3|         3714|      2646.3|   1|
|Germany|     49|         12|         1852|      1800.0|   1|
|Germany|     50|         15|         1973|      1800.0|   1|
|Germany|     48|         11|         1795|      1600.0|   2|
|Germany|     51|          5|         1103|      1600.0|   2|
| France|     50|          6|          529|      537.32|   1|
| France|     51|          5|          847|       500.0|   2|
| France|     49|          9|         2303|       500.0|   2|
| France|     48|          4|         1299|       500.0|   2|
|Belgium|     48|          1|          528|       800.0|   1|
|Belgium|     51|          2|          942|       800.0|   1|
|Belgium|     50|          2|          285|      625.16|   2|
|Finland|     50|          1|         1254|       892.8|   1|
|  India|     49|          5|         1280|      3284.1|   1|
|  India|     50|          5|         1184|     2321.78|   2|
|  India|     51|          5|           95|       300.0|   3|
|  India|     48|          7|         2822|       300.0|   3|
|  Italy|     48|          1|          164|       427.8|   1|
|  Italy|     51|          1|          131|       383.7|   2|
|  Italy|     49|          1|           -2|       -17.0|   3|
+-------+-------+-----------+-------------+------------+----+
only showing top 20 rows

In [23]:
result_df = orders_df.withColumn("rank", row_number().over(my_window))

In [24]:
result_df.select("*").where("rank == 1").drop("rank").show()

+---------------+-------+-----------+-------------+------------+
|        country|weeknum|numinvoices|totalquantity|invoicevalue|
+---------------+-------+-----------+-------------+------------+
|         Sweden|     50|          3|         3714|      2646.3|
|        Germany|     49|         12|         1852|      1800.0|
|         France|     50|          6|          529|      537.32|
|        Belgium|     48|          1|          528|       800.0|
|        Finland|     50|          1|         1254|       892.8|
|          India|     49|          5|         1280|      3284.1|
|          Italy|     48|          1|          164|       427.8|
|      Lithuania|     48|          3|          622|     1598.06|
|         Norway|     48|          1|         1852|     1919.14|
|          Spain|     50|          2|          400|     1049.01|
|        Denmark|     49|          1|          454|      1281.5|
|        Iceland|     49|          1|          319|      711.79|
|         Israel|     50|          1|          -56|     -227.44|
|Channel Islands|     49|          1|           80|      363.53|
|         Cyprus|     50|          1|          917|     1590.82|
|    Switzerland|     51|          1|          604|     1001.52|
|          Japan|     49|          2|         3897|     7384.99|
|         Poland|     48|          1|          140|      248.16|
|       Portugal|     49|          4|          726|     1844.67|
|      Australia|     50|          2|          133|      387.95|
+---------------+-------+-----------+-------------+------------+
only showing top 20 rows

In [8]:
my_window = Window.partitionBy("country") \
.orderBy("weeknum")

In [9]:
orders_df.withColumn("previous_week", lag("invoicevalue").over(my_window)).show()

+-------+-------+-----------+-------------+------------+-------------+
|country|weeknum|numinvoices|totalquantity|invoicevalue|previous_week|
+-------+-------+-----------+-------------+------------+-------------+
| Sweden|     50|          3|         3714|      2646.3|         null|
|Germany|     48|         11|         1795|      1600.0|         null|
|Germany|     49|         12|         1852|      1800.0|       1600.0|
|Germany|     50|         15|         1973|      1800.0|       1800.0|
|Germany|     51|          5|         1103|      1600.0|       1800.0|
| France|     48|          4|         1299|       500.0|         null|
| France|     49|          9|         2303|       500.0|        500.0|
| France|     50|          6|          529|      537.32|        500.0|
| France|     51|          5|          847|       500.0|       537.32|
|Belgium|     48|          1|          528|       800.0|         null|
|Belgium|     50|          2|          285|      625.16|        800.0|
|Belgium|     51|          2|          942|       800.0|       625.16|
|Finland|     50|          1|         1254|       892.8|         null|
|  India|     48|          7|         2822|       300.0|         null|
|  India|     49|          5|         1280|      3284.1|        300.0|
|  India|     50|          5|         1184|     2321.78|       3284.1|
|  India|     51|          5|           95|       300.0|      2321.78|
|  Italy|     48|          1|          164|       427.8|         null|
|  Italy|     49|          1|           -2|       -17.0|        427.8|
|  Italy|     51|          1|          131|       383.7|        -17.0|
+-------+-------+-----------+-------------+------------+-------------+
only showing top 20 rows

In [10]:
orders_df.withColumn("previous_week", lead("invoicevalue").over(my_window)).show()

+-------+-------+-----------+-------------+------------+-------------+
|country|weeknum|numinvoices|totalquantity|invoicevalue|previous_week|
+-------+-------+-----------+-------------+------------+-------------+
| Sweden|     50|          3|         3714|      2646.3|         null|
|Germany|     48|         11|         1795|      1600.0|       1800.0|
|Germany|     49|         12|         1852|      1800.0|       1800.0|
|Germany|     50|         15|         1973|      1800.0|       1600.0|
|Germany|     51|          5|         1103|      1600.0|         null|
| France|     48|          4|         1299|       500.0|        500.0|
| France|     49|          9|         2303|       500.0|       537.32|
| France|     50|          6|          529|      537.32|        500.0|
| France|     51|          5|          847|       500.0|         null|
|Belgium|     48|          1|          528|       800.0|       625.16|
|Belgium|     50|          2|          285|      625.16|        800.0|
|Belgium|     51|          2|          942|       800.0|         null|
|Finland|     50|          1|         1254|       892.8|         null|
|  India|     48|          7|         2822|       300.0|       3284.1|
|  India|     49|          5|         1280|      3284.1|      2321.78|
|  India|     50|          5|         1184|     2321.78|        300.0|
|  India|     51|          5|           95|       300.0|         null|
|  Italy|     48|          1|          164|       427.8|        -17.0|
|  Italy|     49|          1|           -2|       -17.0|        383.7|
|  Italy|     51|          1|          131|       383.7|         null|
+-------+-------+-----------+-------------+------------+-------------+
only showing top 20 rows

In [11]:
my_window = Window.partitionBy("country")

In [12]:
orders_df.withColumn("total_invoice_value", sum("invoicevalue").over(my_window))

+-------+-------+-----------+-------------+------------+-------------------+
|country|weeknum|numinvoices|totalquantity|invoicevalue|total_invoice_value|
+-------+-------+-----------+-------------+------------+-------------------+
| Sweden|     50|          3|         3714|      2646.3|             2646.3|
|Germany|     48|         11|         1795|      1600.0|             6800.0|
|Germany|     49|         12|         1852|      1800.0|             6800.0|
|Germany|     50|         15|         1973|      1800.0|             6800.0|
|Germany|     51|          5|         1103|      1600.0|             6800.0|
| France|     51|          5|          847|       500.0| 2037.3200000000002|
| France|     49|          9|         2303|       500.0| 2037.3200000000002|
| France|     48|          4|         1299|       500.0| 2037.3200000000002|
| France|     50|          6|          529|      537.32| 2037.3200000000002|
|Belgium|     48|          1|          528|       800.0|            2225.16|
|Belgium|     50|          2|          285|      625.16|            2225.16|
|Belgium|     51|          2|          942|       800.0|            2225.16|
|Finland|     50|          1|         1254|       892.8|              892.8|
|  India|     51|          5|           95|       300.0|            6205.88|
|  India|     49|          5|         1280|      3284.1|            6205.88|
|  India|     48|          7|         2822|       300.0|            6205.88|
|  India|     50|          5|         1184|     2321.78|            6205.88|
|  Italy|     49|          1|           -2|       -17.0|              794.5|
|  Italy|     51|          1|          131|       383.7|              794.5|
|  Italy|     48|          1|          164|       427.8|              794.5|
+-------+-------+-----------+-------------+------------+-------------------+
only showing top 20 rows